version: "3.7"

services:
  qgis-server:
    image: acugis/quail_qgis-server:21012026
    build:
      context: .
      dockerfile: docker/qgis.Dockerfile
    volumes:
      - data_qgis:/var/www/data/qgis
      - ./docker/pg_service.conf:/var/www/data/qgis/pg_service.conf
      - data_stores:/var/www/data/stores
      - cache_qgis:/var/www/cache/qgis
    env_file:
      - docker/public.env
      - docker/qgis.env
    depends_on:
      - db
  db:
    image: postgis/postgis:18-3.6
    restart: always
    env_file:
      - docker/public.env
      - docker/.env
    volumes:
      - pg_data:/var/lib/postgresql/18/docker
      - ./docker/setup.sh:/docker-entrypoint-initdb.d/99_setup.sh
      - ./installer/setup.sql:/tmp/setup.sql
      - ./installer/init.sql:/tmp/init.sql
      - ./installer/demo/demo.sql:/tmp/demo.sql
      - ./installer/demo/states.dump:/tmp/states.dump
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-U", "postgres", "-d", "$${APP_DB}"]
      interval: 10s
      timeout: 50s
      retries: 10
  web:
    image: acugis/qcarta_web:21012026
    env_file:
      - docker/public.env
      - docker/.env
    build:
      context: .
      dockerfile: docker/web.Dockerfile
    volumes:
      - www_cache:/var/www/cache
      - data_layers:/var/www/data/layers
      - data_stores:/var/www/data/stores
      - data_docs:/var/www/data/docs
      - data_qgis:/var/www/data/qgis
      - ./docker/pg_service.conf:/var/www/data/qgis/pg_service.conf
      - html_layers:/var/www/html/layers
      - html_stores:/var/www/html/stores
      - html_geostories:/var/www/html/geostories
      - ./docker/const.php:/var/www/html/admin/incl/const.php
    ports:
      - "8000:80"
    depends_on:
      - db
      - qgis-server
      - qcarta-tiles
  qcarta-tiles:
    image: acugis/qcarta-tiles:21012026
    build:
      context: .
      dockerfile: docker/qcarta-tiles.Dockerfile
    volumes:
      - data_qcarta-tiles:/qcarta-cache
      
volumes:
  data_qgis:
  data_qcarta-tiles:
  data_stores:
  data_docs:
  data_layers:
  cache_qgis:
  pg_data:
  www_cache:
  html_layers:
  html_stores:
  html_geostories:
